*{
  margin: 0;
  padding: 0;

}
body{
	margin: 0;
	position-top: fixed;
	background: #fff;
	font-family: 'Lato', sans-serif;
}

header{
	background-color: #fff;
}

.search{
	display: flex;
	height: 500px;
	box-sizing: border-box;
}
.user-details{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1{
	font: bold 300% Consolas, Monaco, monospace;
	font-size: 2em;
	text-align: center;
}

h3 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 1em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

.bg-video{
	position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: .20;
    overflow: hidden;
}
.bg-video__content{
    width: 100%;
}

.id-card-wrapper {
  height: 100vh;
  width:100%;
  display: flex;
}
.id-card {
  flex-basis: 100%;
  max-width: 30em;
  border: 1px solid rgb(97, 245, 245);
  margin: auto;
  border-radius: 2px;
  color: #fff;
  padding: 1em;
  background-color: #0A2129;
  box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;
}

.profile-row {
  display: flex;
}
.profile-row .dp {
  flex-basis: 33.3%;
  position: relative;
  margin: 24px;
  align-self: center;
}
.profile-row .desc {
  flex-basis: 66.6%;
}

.profile-row .dp img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 4px 3px #12a0a0;
}
.profile-row .desc {
  padding: 1em;
}

.profile-row .dp .dp-arc-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid transparent;
  border-top-color: #0AE0DF;
  border-radius: 50%;
  top: -6px;
  left: -6px;

  animation-duration: 2s;
  animation-name: rotate-clock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-row .dp .dp-arc-outer {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 6px solid transparent;
  border-bottom-color: #0AE0DF;
  border-radius: 50%;
  top: -16px;
  left: -16px;

  animation-duration: 2s;
  animation-name: rotate-anticlock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.profile-row .desc {
  font-family: 'Orbitron', sans-serif;
  color: #ecfcfb;
  text-shadow: 0px 0px 4px #12a0a0;
  letter-spacing: 1px;
}
.profile-row .desc h1 {
  margin: 0px;
}
.titleFood{
	color: #999999;
	margin: 30px;
}
.subFood{
	text-align: center;
}
.centerArea{
	display: flex;
    justify-content: center;
}
h1{
	text-align: center;
    padding-top: 40px;
    color: #fff;
}
.fa-building{
	color: #d9d9d9;
	padding-top: 10px;
}


.menuDetails{
	height: 1400px;
    justify-content: center;
    box-sizing: border-box;
}
.menuDetail{
	display: flex;
	height: 640px;
    justify-content: center;
    box-sizing: border-box;
    background: #000;
}
.eduDetails{
	margin: 80px;
	margin-left: 25%;
	width: 50%;
    height: 100px;
    display: flex;
}
.eduInfo{

	width: 30%;
    margin: 10px;
    
}
.iconMenu{
	height: 50%;
    padding: 15px;

}
.rValue{
	display: flex;
}
.menuInfo{
	margin: 20px 0px;
	font-size: 20px;
}
.menuName{
	font-size: 10px;
    color: #595959;
}

.popular{
	margin: 80px;
    margin-left: 10%;
    width: 80%;
    height: 100px;
    text-align: center;
}
.populTitle{
	margin: 80px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}
.project{
	margin-top: 400px;
    margin-left: 10%;
    width: 80%;
    height: 100px;
    text-align: center;
}
.card{
	display: flex;
  flex-wrap: wrap;
	width: 100%;
    height: 350px;
    margin-top: 8%;
    
}
.cardDetails{
	display: flex;
	width: 100%;
    height: 350px;
    margin-top: 8%;
    margin-left: 10%;
}
.indivCard{
	  width: 23%;
    margin: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 5px 10px 18px #888888;
}
.achivCard{
    font-size: 20px;
}
.foodLogo{
	padding-top: 20px;
    height: 100px;
    float: left;
    width: 80%;
}
.about-video{
	display: flex;
    flex: auto;
}
.about_me{
    flex: auto;
	float: right;
	color: #fff;
}
.aboutHeader{
	font-size: 25px;
}
.aboutDetails{
	text-align: center;
	padding: 40px;
	letter-spacing: 3px;
	font-size: 20px;
}
.iconMenuValue{
	height: 50%;
	width: 80px;
}

.achivName{
	margin-top: 0;
	padding: 10px;
}
.footr{
	height: 300px;
	background: #fff;
	box-sizing: border-box;
}
.footerDetails{
	height: 40px;
	background: #000;
	box-sizing: border-box;
}
.textColor{
	color: #e6e600;
}
.dCBgtk {
    text-align: center;
    color: white;
    position: relative;
    
    padding: 50px 25px 75px;
    }
.footerDetails{
    margin-top: 20px;
	   color: white;
    text-align: center;
    padding: 10px;
}
